[build]
builder = "dockerfile"
dockerfilePath = "Dockerfile"

[deploy]
healthcheckPath = "/api/health"
healthcheckTimeout = 100
startCommand = "/app/start.sh"
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10
