@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: 'Public Sans', sans-serif;

  --color-green-50: #EFFDF5;
  --color-green-100: #D9FBE8;
  --color-green-200: #B3F5D1;
  --color-green-300: #75EDAE;
  --color-green-400: #00DC82;
  --color-green-500: #00C16A;
  --color-green-600: #00A155;
  --color-green-700: #007F45;
  --color-green-800: #016538;
  --color-green-900: #0A5331;
  --color-green-950: #052E16;
}

/* Scroll Animations */
.scroll-transition {
  opacity: 0;
  transition: opacity 0.8s cubic-bezier(0.22, 1, 0.36, 1), transform 0.8s cubic-bezier(0.22, 1, 0.36, 1);
  will-change: opacity, transform;
}

/* Fade Up (Default) */
.anim-fade-up {
  transform: translateY(30px);
}

/* Fade In */
.anim-fade-in {
  transform: scale(0.95);
}

/* Slide Right */
.anim-slide-right {
  transform: translateX(-30px);
}

/* Slide Left */
.anim-slide-left {
  transform: translateX(30px);
}

/* Visible State */
.is-visible {
  opacity: 1 !important;
  transform: translate(0) scale(1) !important;
}
